@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Edu+VIC+WA+NT+Beginner&family=Jacques+Francois+Shadow&family=Londrina+Shadow&family=Noto+Sans+Mono&family=Nunito:wght@300&family=Oswald:wght@200;400&family=Roboto&display=swap");
/* barra de navegación */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
}

:root {
  --color-beige: #f2e8d9;
  --color-logo: #92412e;
  --color-bordoOscuro: #4c2c1e;
}

html {
  scroll-behavior: smooth;
}

/* menu */
header {
  display: flex;
  background-color: var(--color-beige);
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
  margin: 0;
}

.navbar-list .nav-item a {
  color: var(--color-logo);
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 1rem;
  text-decoration: none;
  z-index: 1;
}

.nav-item {
  transition: 0.3s;
  padding: 0.3rem;
}

.nav-item:hover {
  transform: scale(1.05);
}

.boton-abrir-menu,
.boton-cerrar-menu {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  color: var(--color-logo);
}

/* estilos boton volverarriba */
.boton-volver{
  background-color: var(--color-bordoOscuro);
  color: var(--color-beige);
  height: 2rem;
  width: 2rem;
  border-radius: 50% ;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
  align-items: center;
  color: var(--color-beige);
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease; 
  
}
.boton-volver:hover{
  transform: scale(1.3);
  box-shadow: 0 0 1rem var(--color-beige);
}

.active-boton{
  display: flex;
  align-items: center;
  opacity: 1;
}

/* estilos slider */
.container-slider {
  position: relative;
}
.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  object-fit: contain;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 0.25rem 5rem var(--color-bordoOscuro);
  transition: transform 0.5s ease;
}
.slider .imagen-slider {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-logo);
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav:hover {
  opacity: 1;
}

/* estilos para NOSOTROS */
.nosotros {
  margin: 0 auto;
}

h1 {
  color: var(--color-beige);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-left: 2rem;
}
span {
  color: var(--color-bordoOscuro);
}
.nosotros-container {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 0.5rem;
  padding: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.contenedor-imagenes-nosotros {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}
.imagen-nosotros {
  margin-top: 1.5rem;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background-color: transparent;
  box-shadow: 0 0.1rem 1rem var(--color-bordoOscuro);
}

.parrafo {
  font-size: 1.5rem;
  text-align: left;
  padding: 5px;
  font-family: "Oswald", sans-serif;
  color: var(--color-bordoOscuro);
}
/* estilos para seccion PRODUCTOS */
h2 {
  color: var(--color-beige);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.productos-contenedor {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  padding: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.tarjeta-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.foto-producto {
  margin-top: 1.5rem;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background-color: transparent;
  box-shadow: 0 0.1rem 1rem var(--color-bordoOscuro);
}

.dos {
  margin: 1rem;
}

.boton {
  background-color: var(--color-beige);
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: transparent;
  margin-right: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0.1rem 1rem var(--color-bordoOscuro);
}
.boton a {
  text-decoration: none;
  color: var(--color-bordoOscuro);
}

.boton:hover {
  background-color: var(--color-bordoOscuro);
  transform: scale(1.1);
}
.boton a:hover {
  color: var(--color-beige);
}

/* estilos para CONTACTO */
.contenedor-formulario {
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
  padding: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.formulario {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

label {
  margin: 1rem;
  color: var(--color-bordoOscuro);
}
textarea {
  margin: 1rem;
  resize: none;
  outline: none;
  border: 1px solid var(--color-bordoOscuro);
}
input {
  margin: 1rem;
}

.formulario label,
.formulario input,
.formulario textarea {
  font-family: "Oswald", sans-serif;
  width: 100%;
  text-transform: uppercase;
}

.formulario input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-bordoOscuro);
}
.contenedor-botones {
  display: flex;
  justify-content: center;
}

.boton-form {
  max-width: fit-content;
  border: none;
  color: var(--color-bordoOscuro);
}
.boton-form:hover {
  color: var(--color-beige);
  background-color: var(--color-bordoOscuro);
}

/* estilos para footer */

.contenedor-footer {
  background-color: var(--color-beige);
  color: var(--color-bordoOscuro);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.2rem;
}
.redes {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  transition: transform 0.5s ease;
  cursor: pointer;
  gap: 1rem;
}

.redes :hover {
  transform: scale(1.1);
}

i {
  padding: 0.5rem;
}
.redes i {
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 750px) {
  .boton-abrir-menu,
  .boton-cerrar-menu {
    display: block;
    font-size: 3rem;
  }
  .nav-bar {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-beige);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    padding: 1rem;
    gap: 1rem;
    transition: 0.5s ease-in-out;
  }

  .nav-visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: 0.5s ease-in-out;
  }
  .navbar-list {
    flex-direction: column;
    align-items: end;
  }

  .nosotros-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-align: center;
  }
  .contenedor-imagenes-nosotros {
    width: 100%;
  }
  .parrafo {
    width: 100%;
    text-align: justify;
  }
  .nosotros-parrafo {
    width: 100%;
  }
  label {
    text-align: center;
  }
}
